/*carrusel*/
.texto-superpuesto {
    z-index: 1; /* Asegura que el texto esté en un orden de apilamiento superior a las imágenes */
    top: 50%; /* Ajusta la posición vertical del texto si es necesario */
    left: 50%; /* Ajusta la posición horizontal del texto si es necesario */
    transform: translate(-50%, -50%); /* Centra el texto en el contenedor */
    font-size: 1em;
}
    
/* Estilos adicionales para mejorar la legibilidad en el carrusel */
.texto-superpuesto {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

 /* Estilos para dispositivos móviles */
@media (max-width: 768px) {   
    .texto-superpuesto {
      font-size: 0.7em;
    }
}

.btn-tickets{
  background: rgb(41, 167, 68); 
  color: white;       
}

  .bright{
    filter: brightness(50%);
    height: 600px;
}  


/* Estilos para darle a los cards */
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  transition: all;
  transition-duration: 500ms;
  transform: scale(1.01);
}

.btncards a.btn{
  padding: 0.2rem 1rem;
  transition: all;
  transition-duration: 500ms;
}

.btncards a.btn:hover{
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  transition: box-shadow 0.1s ease;
  transform: scale(1.01);
}


/* texto centro para los oradores*/
.textoChico {
    font-size: .8rem;
}

.bgGrisoscuro{
    background-color: rgb(53, 58, 64);
}

.titulo{
    font-size: 0.7rem;
}


/* Boton del registro, color verde enviar */
  .boton-verde {
    background-color: #9adf41;
    color: white;
    border: none; 
    outline: none; 
    box-shadow: none; 
  }

  .mi-footer {
    background-color: #296484; /* Cambia el color a tu preferencia */
    color: white; /* Cambia el color del texto si es necesario para que sea legible */
    padding: 20px; /* Añade relleno (padding) si es necesario para dar espacio al contenido del footer */
  }
  
  footer.mi-footer a {
    text-decoration: none;
    
  }


  /* para estilizar el btn de comprar tickets*/

.custom-btn-width {
  width: 250px; 
}

.custom-btn-motion {
  transition: transform 0.3s ease; 
}

.custom-btn-motion:hover {
  transform: translate(10px); 
}

@media (max-width: 768px) {
  .boton-confirmar-compra,
  .boton-realizar-otra-compra {
    margin-top: 10px; 
  }
}


/* Estilo para la imagen de fondo en la sección de comprar tickets */
.formulario-section {
  background-image: url('../Imagenes/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto hace que la imagen de fondo se mantenga fija mientras se desplaza la página */
  color: white; /
}

.img-left-align {
  float: left;
  margin-right: 10px; /* Espacio entre la imagen y el contenido */
}

/* fuentes*/

.comprar-tikets{
font-family: 'Satisfy', cursive;
text-align: center;
}





.highlight {
  border: 2px solid red; /* Cambia el borde de la tarjeta a rojo (puedes personalizarlo) */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Agrega una sombra roja (puedes personalizarla) */
}